extends layout

block content
 .container
  .h1.h1-responsive.desc Hello. Welcome to Faverr.
  p
   a.action(href='/login') Login
   |  or 
   a.action(href='/register') Sign Up
   |  to know more.


