doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Massdrop Challenge | #{title}
    link(rel='shortcut icon', href='favicon_1.ico')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/mdb.min.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    
  body
    include navbar

    block content

    
    //footer
    script(src='/js/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
    script(src='/js/bootstrap.min.js')
    script(src='/js/mdb.min.js')
    script(src='/js/initialize.js')
    script(src='/js/validate.js')

