nav.navbar.navbar-dark.py-1
  button.navbar-toggler.hidden-sm-up(type='button', data-toggle='collapse', data-target='#collapseEx2')
    i.fa.fa-bars
  .container
    #collapseEx2.collapse.navbar-toggleable-xs
      a.navbar-brand(href='/') Massdrop Challenge 
      ul.nav.navbar-nav.float-sm-right
        li.nav-item
          a.nav-link(href='/') Home
        li.nav-item
          a.nav-link(href='https://github.com/Rishabhravindra/', target='_blank') GitHub
        li.nav-item
          a.nav-link(href='/add') Add Job
        li.nav-item
          a.nav-link(href='/search') Search Job Status