nav.navbar.navbar-dark.py-1
  button.navbar-toggler.hidden-sm-up(type='button', data-toggle='collapse', data-target='#collapseEx2')
    i.fa.fa-bars
  .container
    #collapseEx2.collapse.navbar-toggleable-xs
      a.navbar-brand(href='/') Faverr 
      ul.nav.navbar-nav.float-sm-right
        li.nav-item
          a.nav-link(href='/') Home
        li.nav-item
          a.nav-link(href='https://github.com/Rishabhravindra/faverr', target='_blank') About
        li.nav-item
          a.nav-link Contact
        li.nav-item
          a.nav-link(href='/profile') Profile
        if currentUser
          li.nav-item
            a.nav-link.px-2.login(href='logout') Log out
        else
          li.nav-item
            a.nav-link.px-2.mx-1.login(href='register') Sign Up
          li.nav-item
            a.nav-link.px-2.logout(href='login') Log In  
