/**************
Global styles
**************/
body {
    font-family: 'GilroyBold', sans-serif;
    background-color: #1A91FF;
}
html,
body,
header {
  height: 100%;

}
header {
  background-color: #1A91FF;
}
/*************
Navbar
*************/
.navbar {
  background-color: #1A91FF;
  box-shadow: 0 0 0 0 ;
}

.navbar-brand {
  font-size: 1.5rem;
}
/***************
Index hero
***************/
.desc {
  color: #fff;
  font-size: 65px; 
}
p {
  color: #fff;
  font-size: 45px;
}
.action {
  color: #006acd;
}
.info {
  color: #000;
}


 .btn-submit {
  background-color: #269CFF;
  border-radius: 6px;
}

.container {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.reg-container {
  background-color: #fafafa;
  height: 90%;
}
.h1-responsive {
  padding-top: 5rem;
}
.reg-form {
  padding-left: 4rem;
}

/*************
Add Gilroy Font
*************/
@font-face {
    font-family: GilroyLight;
    src: url(../font/Gilroy-Light.otf);
}
@font-face {
    font-family: GilroyBold;
    src: url(../font/Gilroy-ExtraBold.otf);
}
/*************
Error message
*************/
.err-msg {
  color: #fff;
}